.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", "Arial", "sans-serif";
}
.header {
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  z-index: -2;
  align-items: center;

  /* parameters for the header section */
}
.logo_place_header {
  width: 154px;
  height: 31px;
  position: absolute;
  left: 64px;
  top: 30px;
  z-index: auto;
}
.header__title {
  width: 730px;
  margin-left: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}
.header__subtitle {
  position: absolute;
  width: 388px;
  bottom: 30px;
  margin-left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0px;
  z-index: -1;
}

.header__main-illustration {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.two-columns {
  margin: 100px 100px;
  width: 80%;
  min-width: 784px;
  display: flex;
  justify-content: space-between;
}
.two-columns__main-text {
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.section-title {
  display: flex;
  width: 60%;
  margin: auto;
  position: relative;
  z-index: 3;
}
h3 {
  margin: auto;
  margin-bottom: 20px;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  margin: auto;
  width: 60%;
  z-index: 1;
  text-align: center;
}

h4 {
  margin: auto;
  margin-bottom: 60px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  max-width: 1100px;
  margin: 0 auto;
  list-style-type: none;
  position: relative;
  z-index: 3;
}

.table-cell {
  list-style-type: none;
  margin: 60px 0 100px;
  width: 250px;
}

.table-heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table-text {
  line-height: normal;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  background-color: #f2f2f2;
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: left bottom;
  position: relative;
  min-height: 810px;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

.feynman__main-illustration {
  width: 867px;
  height: 637px;
}

.feynman__title {
  margin: auto;
  padding-top: 100px;
  margin-bottom: 70px;
  width: 775px;
  line-height: 1.15;
  font-size: 120px;
  text-align: center;
  z-index: 1;
}

.feynman__subtitle {
  position: absolute;
  left: 38%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 1;
}
.kaufman {
  background-color: black;
  color: white;
  padding-top: 90px;
  padding-bottom: 90px;
  z-index: -1;
}
.kaufman__triangle {
  position: absolute;
  left: 60%;
  z-index: 0;
}
.table__number {
  font-size: 24px;
}
.footer {
  color: #f2f2f2;
  background-color: black;
}
.footer__column {
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__columns {
  display: flex;
  min-height: 350px;

  margin: 0 auto;
  box-sizing: border-box;
}
.footer__column_content_copyright {
  flex-basis: 711px;
  position: relative;
}
.logo {
  position: absolute;
  top: 0;
  width: 183px;
  height: 35px;
}

.footer__author {
  position: absolute;
  bottom: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
.footer__column-link {
  text-decoration: none;
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icons {
  width: 18px;
  height: 18px;
  line-height: 40px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #f2f2f2;
}
